<title>MTG</title>
<link rel='shortcut icon' type='image/png' href='http://img08.deviantart.net/cf8d/i/2011/170/6/b/magic_the_gathering_dotp_2012_by_jenack-d3jcych.png' />
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
