<h2>Cards</h2>
<div id='cardsSearch'>
  <div class='input-group'>
    <input type='text' class='form-control' id='cards-query' placeholder='Search cards...'>
    <span class='input-group-addon glyphicon glyphicon-search'></span>
  </div>
</div>
<ul class='list-group scrollable' id='cards-list'></ul>
