<h2>Cards</h2>
<div id='cards-search-box'>
  <div class='input-group'>
    <input type='text' class='form-control' id='cards-query' placeholder='Search cards...'>
    <span class='input-group-addon glyphicon glyphicon-search'> </span>
  </div>
</div>
<div id='cards'>
  <ul class='list-group'>
    {{#each cards}}
    <li class='list-group-item'>{{name}}</li>
    {{/each}}
  </ul>
</div>
