<h2>Decks</h2>
<div id='decksSearch'>
  <div class='input-group'>
    <input type='text' class='form-control' id='decks-query' placeholder='Search decks...'>
    <span class='input-group-addon glyphicon glyphicon-search'> </span>
  </div>
</div>
<ul class='list-group scrollable' id='decks-list'></ul>
<button class='btn btn-default' id='new-deck'>Add Deck</button>
