<div class='row'>
  <h1>Deckbuilder</h1>
  <div class='col-md-3' id='cardsView'></div>
  <div class='col-md-3' id='cardPreview'></div>
  <div class='col-md-3' id='decksView'></div>
  <div class='col-md-3' id='deckView'></div>
</div>
