<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h2>Please login</h2>
    <form role="form" action="/login" method="POST" class="form-signin">
      <input type="email" name="email" placeholder="Email" required="" autofocus="" autocomplete="off" class="form-control"/>
      <input type="password" name="password" placeholder="Password" required="" autocomplete="off" class="form-control"/>
      <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
      <p>New User? <a href="/signup">Signup</a></p>
    </form>
  </div>
</div>
