<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/header.ejs %>
    <div class="container">
      <div class='row'>
        <!-- Search for cards in card library -->
        <div class='col-md-8'>
          <h1>Cards Library</h1>

          <form>
            <input type='text' class='form-control' name="name" placeholder='Name'>
            <button type='submit' class='btn btn-default'>Submit</button>
          </form>

          <% if (cards) { %>
            <ul>
              <% for (i = 0; i < cards.length; i++) { %>
                <li><a href="#"><%= cards[i].id %> <%= cards[i].name %></a></li>
              <% } %>
            </ul>
          <% } %>
        </div>

        <!-- Select Deck to add card -->
        <div class='col-md-4'>
          <img src="http://placehold.it/400x560">
          <!--<div class='btn-group'>-->
          <!--<button type='button' class='btn btn-danger'>Action</button>-->
          <!--<button type='button' class='btn btn-danger dropdown-toggle' data-toggle='dropdown' aria-expanded='false'>-->
          <!--<span class='caret'></span>-->
          <!--<span class='sr-only'>Toggle Dropdown</span>-->
          <!--</button>-->
          <!--<ul class='dropdown-menu' role='menu'>-->
          <!--<li><a href='#'>Action</a></li>-->
          <!--<li><a href='#'>Another action</a></li>-->
          <!--<li><a href='#'>Something else here</a></li>-->
          <!--<li class='divider'></li>-->
          <!--<li><a href='#'>Separated link</a></li>-->
          <!--</ul>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </body>
</html>
