<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/header.ejs %>
    <div class="container">
      <div class='row'>
        <h1>Decks</h1>
        <% if (decks) { %>
          <ul>
            <% for (i = 0; i < decks.length; i++) { %>
              <li><%= decks[i] %></li>
            <% } %>
          </ul>
        <% } %>
      </div>
    </div>
  </body>
</html>

